<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Frontend Mentor | Space tourism website</title>
 
</head>
<body>    
    <div class="container">
      <header class="nav-bar">
        <img class="nav-logo" src="images/shared/logo.svg" alt="">
        <hr> 
        <nav>          
            <ul class="nav-list" id="nav-list">
              <li class="nav-item"><a href="/home"><strong>00</strong> HOME</a></li>
              <li class="nav-item"><a href="/destination-moon"><strong>01</strong> DESTINATION</a></li>
              <li class="nav-item"><a href="/crew"><strong>02</strong> CREW</a></li>
              <li class="nav-item"><a href="/technology"><strong>03</strong> TECHNOLOGY</a></li>
            </ul>    
          
        </nav>
        </header>
    
    

       
                  
     
    
   